body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: border-box;
}

.location h1 {
  font-size:25px;
  color:black;
  font-weight: bold;
  width: 80%;

}

.location h3 {
  font-size:16px;
  color:black;
  line-height: 1.5;
  width: 80%;

}
.container {
  margin: 0 auto;
  width: 80%;
}



.box1 {
  padding: 30px;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
  margin-bottom: 0;
  width: 80%;
  background-color: lightgrey;
  border: 1px solid black;
}
.box2 {
  background-color: black;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  width: 80%;
  text-align: left;
  align: center;

}

div.box1:hover {background-color: slateblue;}

.arrow nav {
  float:left;
  display: inline-block;
  width: 25%;

}


.content {
  display: inline-block;
  width: 80%;
}
.arrow {
  color: black;
  padding-bottom: 10px;
  width: 18%;
  display: inline-block;
  padding-right: 2px;
  text-align: right;
}

.restaurant-list {
  padding-top: 0px;
}
